/* Animaciones y ajustes del Sidebar */
.sidebar-item {
    transition: all 0.2s ease-in-out;
}

.sidebar-item:hover {
    transform: translateX(5px);
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Personalización para gráficos */
canvas#reservasChart {
    max-height: 250px;
}